/* ---  CUSTOM PROPERTIES    */
:root {
  /* Primary colors */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* Neutral colors */
  --Grey-500: hsl(234, 12%, 34%);
  --Grey-400: hsl(212, 6%, 44%);
  --White: hsl(0, 0%, 100%);

  /* box shadow color */
  --shadow-color: rgba(46, 111, 160, 0.2);

  /* Body font size */
  --body-15px: calc((15 / 16) * 1rem);
}

/* ---  INITIAL RULES    */
* {
  box-sizing: border-box;
  margin: 0;
}


/* -----     MOBILE-FIRST
 - 
 - Responsive values includes wide screen sizes.
*/
/* ---  MAIN      */
.main {
  background-color: var(--White);

  /* typography */
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: var(--body-15px);
  color: var(--Grey-500);

  /* arrange content */
  padding-block: 3em;
  padding-inline: clamp(1em, 8vw, 2em);
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;

  /* dimension */
  min-width: 20rem; /* 320px */
}

/* --- HEADER     */
.header {
  text-align: center;
  max-width: 35em; /* 560px; for wide screens */

  /* arrange content */
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.main-heading {
  font-size: clamp(1.45em, 6.4vw, 2.4em);
}
.not-bold {
  font-weight: 200;
}

/* --- CARDS     */
.cards-container {
  /* arrange content */
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.card {
  /* 352px; card dimension for wide screens */
  max-width: 22rem;

  /* box */
  border-radius: 0.6667em;
  overflow: hidden;
  box-shadow: 0 0.67em 1.25em -0.25em var(--shadow-color);
}
.card-grid {
  /* arrange content */
  padding: clamp(1.5em, 8vw, 2em);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2em;
}
.card-header {
  grid-area: 1/1/2/4;
  place-self: start start;

  /* arrange content */
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.card-icon {
  grid-area: 2/3/3/4;
  place-self: center end;
}
.card-header > h2 {
  font-size: 1.25em;
}
.card-header > p {
  font-size: 0.9em;
  color: var(--Grey-400);
}

/* Cards' colored top-border */
.supervisor > .card-grid {
  border-block-start: 0.4em solid var(--Cyan);
}
.team-builder > .card-grid {
  border-block-start: 0.4em solid var(--Red);
}
.karma > .card-grid {
  border-block-start: 0.4em solid var(--Orange);
}
.calculator > .card-grid {
  border-block-start: 0.4em solid var(--Blue);
}
/* -----     end of: MOBILE-FIRST     */


/* -----      WIDE SCREEN LAYOUT
 - From 1024px screen-width and wider
*/
@media screen and (min-width: 64rem) {
  .main {
    /* vertical center arrangement */
    min-height: 100vh;
    justify-content: center;
    padding-inline: 3em;
  }
  .cards-container {
    /* desktop layout */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "supervisor team-builder calculator"
      "supervisor karma calculator";
    align-items: center;
  }
  .supervisor {
    grid-area: supervisor;
  }
  .team-builder {
    grid-area: team-builder;
  }
  .karma {
    grid-area: karma;
  }
  .calculator {
    grid-area: calculator;
  }
}
/* -----    end of: WIDE SCREEN LAYOUT     */
